@use 'src/styles/vars';

.Recipes {
    display: flex;
    flex-direction: column;
    align-items: start;
    min-height: 60vh;
    justify-content: space-between;

    &--content {
        width: 100%;
        padding: 0.5rem;
    }

    &--pagination {
        justify-content: center;
        align-self: center;
    }

    &--pagination .pagination .page-item .page-link {
        margin-left: 5px;
        padding-top: 7px;
        height: 40px;
        width: 40px;        border: none;
    }

    &--pagination .pagination .page-item:not(.active):not(:hover):not(:focus) .page-link {
        border: none;
        background: none;
    }

    &--pagination .pagination .page-item .page-link {
        display: block;
        border-radius: 22px;
        text-align: center;
    }

    &--pagination .pagination .page-item:last-child .page-link:hover,
    &--pagination .pagination .page-item:first-child .page-link:hover {
        color: vars.$primaryButton;
    }
    
}

