@use 'src/styles/vars';

.RecipeCard {
    max-width: 350px;
    min-width: 200px;
    margin: 9rem 1rem 1rem;
    position: relative;
    border: none;
    color: #ffffff;
    background: linear-gradient(to bottom, rgb(0 0 0 / 0%) 0%,rgba(0, 0, 0, 0.5) 100%);

    &:hover {
        cursor: pointer;
    }

    &:hover &--title {
        color: vars.$primaryButton;
    }

    &--body {
        position: relative;
        padding-top: 50%;
    }

    &--favorite {
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: #ffffff;
    }

    &--favorite__active {
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: vars.$primaryButton;
    }

    &--cart {
        position: absolute;
        right: 1rem;
        margin-top: 5px;
        background: vars.$secondaryButton;
        padding: 0.5rem 0.5rem 0.5rem 0.4rem;
        border-radius: 50%;
        color: #ffffff;
    }
        
    &--img {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        display: block;
        border-radius: 0.375rem;
        max-width: 100%;
        max-height: 100%;
    }

    &--rating {
        svg {
            color: vars.$primaryButton;
        }
    }

    &--content svg {
        margin-right: 5px;
    }

    &--content svg:last-child {
        margin-left: 5px;
    }

}


@media (max-width: vars.$layout-breakpoint-small) {
    .RecipeCard {
        color: vars.$text;
        background: #ffffff;
        max-width: 100%;

        &--favorite, &--favorite__active {
            display: none;
        }

        &--img {
            position: absolute;
            max-width: 70%;
            border-radius: 100%;
            margin: auto;
            transform: translateY(-50%);
            left: 15%;
            z-index: 1;
        }
    
        &--content {
        display: none;
        }
    }
  }