@use 'src/styles/vars';

.MyInfos {
  width: 40%;
  margin: auto;
  margin-bottom: 2em;
  color: vars.$primaryButton;
  --bs-border-color: #f2542d;
  &-row {
    width: 100%;
    margin-bottom: 4em !important;
    &-group {
      width: 100%;

      &-check {
        width: 20em;
      }
    }
    
  }
}

.form-check-input:checked {
  background-color: vars.$primaryButton;
  border-color: vars.$primaryButton;
  --bs-border-color: vars.$primaryButton;

}

.form-check-input {
  
}
