@use 'src/styles/vars';

.MyInfos-container {
  width: 100%;
  margin: auto;
  color: vars.$primaryButton;

}

.MyInfos {
  width: 100%;
  margin-bottom: 2em;
  margin: auto;
  --bs-border-color: #f2542d;
  &-row {
    width: 100%;
    margin-bottom: 3em !important;
    &-group {
      width: 100%;

      &-check {
        width: 20em;
      }
      &-button {
        margin-bottom: 2em;
        &-delete {
          background-color: #f22d2d;
          margin-left: 1em;
        }
      }

      &-img {
        width: 4em;
        margin: auto;
        border-radius: 50px;
      }
    }
    
  }
}

.form-check-input:checked {
  background-color: vars.$primaryButton;
  border-color: vars.$primaryButton;
  --bs-border-color: vars.$primaryButton;
}

@media (min-width: 600px)
{
  .MyInfos {
  width: 40%;
  margin: auto;
  margin-bottom: 2em;
  color: vars.$primaryButton;
  --bs-border-color: #f2542d;
  &-row {
    width: 100%;
    margin-bottom: 4em !important;
    &-group {
      width: 100%;

      &-check {
        width: 20em;
      }

      
    }
    
  }
}

.MyInfos-formMember {
  margin-top: 1em;
  width: 20em;

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 1em;
  }
}



}
