@use 'src/styles/vars';

.IngredientCard {
    flex-direction: row; 
    padding: 0.25rem;
    border-color: vars.$secondaryButton;

    &--image {
        width: 64px;
        height: 64px;
        align-self: center;
    }

    &--title {
        color: vars.$text;
        text-align: left;
    }

    &--content {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
    }

    &--quantity {
        width: 120px;
    }

    &--quantity .form-control {
        border-color: vars.$secondaryButton;
        border-right: none;
        border-left: none;
        padding: 0.25rem 0 0.25rem 0.25rem;
        text-align: right;
    }
    &--quantity .form-control:focus {
        box-shadow: none;
    }

    &--quantity span {
        border-color: vars.$secondaryButton !important;
        border-left: none;
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding: 0.35rem 0.3rem;
        font-size: 0.875rem
    }

    & form {
        display: flex;
    }
}