@use 'src/styles/vars';


.recipeDetails {
    
    width: 100%;
    margin: 0;
    padding: 0;
    color: vars.$text;
    position: relative;

    .container-header {
        display: none;
    }
    .Footer {
        display: none;
    }

    .Menuphone {
        display: none;
    }

    & .CartIcon {
        right: 0.5rem;
        bottom: 0.5rem;
        z-index: 3;
    }
    & .FavoriteIcon {
        top: 0.5rem;
        right: 0.5rem;
        z-index: 3;
    }

    &-cart__active {
        background: vars.$primaryButton;
    }
    
    &-header{
        display: flex;
        border-radius: 0 0 20px 20px;
        width: 100%;
        margin: auto;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        margin-bottom: 8em;
        position: relative;

        &-container {
            display: flex;
            position: absolute;
            flex-direction: column;
            align-items: center;
            top: 8vh;
            z-index: 2;
            height: 35vh;
            & p {
                color: #ffffff;
            }
        }


        &-image {
            width: 100vw;
            border-radius: 0 0 20px 20px;
            height: 35vh;
            object-fit: cover;
        }

        &-rating {
            color: vars.$primaryButton;
            text-shadow: 1px 1px 2px black;
            
        }
        &-title {
            text-align: center;
            color: vars.$primaryButton;
            text-shadow: 1px 1px 2px black;
            font-size: 2em;
        }

        &-cancelButton {
            color: vars.$primaryButton;
            background-color: rgba(240, 248, 255, 0);
            border: none;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            font-size: 2em;
    
            &-image {
                width: 30px;
                height: 30px;
                color: vars.$primaryButton;
                z-index: 10;
                position: absolute;

            }
            
        }

        
    }

    &-preparation {
        display: flex;
        width:80%;
        justify-content: center;
        height: 28vh;
        align-items: flex-end;

        transform: translateY(6vh);
        
        
        &-image {
            width: 2.5em;
            margin: 0 auto;
        }
        &-time {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1em;
        }

        &-title {
            display: flex;
            font-size: large;
            font-weight: 700;
            flex-direction: column;
            align-items: center;
            font-size: 0.8em;

            &-quantity {
                font-weight: 300;
            }
        }

        &-cuisson {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 1em;
        }
    }

    &-ingredients {
        &-titles {
            text-align: center;
            color: vars.$primaryButton;
            width: 10em;
            margin: 1.5em auto 1em;
            padding-bottom: 0.5em;
            border-bottom: 1px solid ;
        }

        &-ingredient {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            &-item {
                display: flex;
                width: 6em;
                flex-direction: column;
                align-items: center;

                &-container {
                    margin-top: 0.5em;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                &-image {
                    width: 2em;
                }

                &-name {
                    font-size: 1em;
                    margin-bottom: 0;

                    &-quantity {
                        font-size: 0.8em;
                    }
                }
            }
        }
    }

    &-recette {
        &-titles {
            text-align: center;
            color: vars.$primaryButton;
            width: 10em;
            margin: 1.5em auto 1em;
            padding-bottom: 0.5em;
            border-bottom: 1px solid ;
        }
        &-step {
            text-align: start;
            width: 90%;
            font-size: 1.1em;
            margin: 1em 1em;
        }
    }

    &-comments {
        margin: 1rem;
    }

    & .overlay {
        background: linear-gradient(0deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 60%, rgba(0,0,0,0) 100%);
        z-index: 1;
        position: absolute;
        top: 0;
        height: 35vh;
        width: 100vw;
        border-radius:  0 0 20px 20px;
    }

    & .lazy-load-image-background.blur.lazy-load-image-loaded {
        filter: blur(0);
        z-index: 0; 
        width: 100%;
    }
    
    & .FavoriteIcon--favorite__active {
        right: 0.5rem;
        top: 0.5rem;
    }
}

@media (min-width: 600px) {
    .recipeDetails {
        color: vars.$text;
        margin: 0;

        .container-header {
            display: inherit;
        }
    
        .Footer {
            display: block;
        }

        &-imgAndButton {
            display: flex;
        }
        & .CartIcon, & .FavoriteIcon {
            right: 0.5rem;
        }

        &-favorite, &-deleteButton {
            position: absolute;
            right: 1rem;
            top: 1rem;
            color: vars.$primaryButton !important;
            z-index: 2;
            transition: transform .5s ease;
        }
    
    
        &-deleteButton {
            color: vars.$primaryButton !important;
        } 
        
        &-deleteButton svg {
            background-color: vars.$primaryButton;
            border-radius: 25px;
            padding: 1px;
        }
    
        &-cart__active {
            background: vars.$primaryButton;
        }

        &-header{
            display: flex;
            border-radius: 10px 200px 0px 0px;
            width: 100%;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin-bottom: 0;
            background-color: vars.$primaryButton;
            align-items: self-start;

            &-imgAndButton {
                width: 30%;
                position: relative;
                align-self: flex-start;
                height: 20vh;
            }
    
            &-container {
                display: flex;
                position: inherit;
                text-align: center;
                width: 70%;
                height: 22vh;
                top: 0;
                border-radius: 0 200px 0px 0px;
                justify-content: start;
                padding-top: 2em;
                background-color: vars.$primaryButton;
            }
    
            &-image {
                display: block;
                width: 100%;
                height: 20vh;
                border-radius: 10px 0px 0px 0px;
                object-fit: cover;
            }
            &-rating {
                color: vars.$backGround;
                margin-bottom: 1em;

                & span {
                    display: block;
                }

            }
            &-title {
                color: vars.$backGround;
            }

            &-cancelButton {
                display: none;
                
            }
    
            
        }

        &-preparation {
            display: flex;
            transform: none;
            justify-content: space-between;
            transform: translateY(0px);
            justify-content: center;   
            height:fit-content; 
            &-image {
                width: 2em;
                margin: auto;
            }
            &-time {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 0;
                
            }
    
            &-title {
                display: flex;
                font-size: small;
                font-weight: 700;
                flex-direction: column;
                align-items: center;
    
                &-quantity {
                    font-weight: 300;
                }
            }
    
            &-cuisson {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 0;
            }
        }

        &-ingredients-container {
            display: flex;
            margin-bottom: 3em;
            padding-top: 0;
            width: 100%;
        }
        &-ingredients {
            display: flex;
            border-radius: 0 0px 0px 200px; 
            color: vars.$backGround;
            background-color: vars.$primaryButton;
            margin: 0;
            width: 30%;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            padding-top: 0;
            
            &-titles {
                text-align: center;
                color: vars.$backGround;
                margin: 0.5em auto;
                margin-top: 0;
                padding-bottom: 0.5em;
                border-bottom: none;               
            }
    
            &-ingredient {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                width: 80%;
                text-align: center;
    
                &-item {
                    display: flex;
                    width: 6em;
                    flex-direction: column;
                    align-items: center;
    
                    &-container {
                        margin-top: 0.5em;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
    
                    &-image {
                        width: 2em;
                    }
    
                    &-name {
                        font-size: 1em;
                        margin-bottom: 0;
    
                        &-quantity {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    
        &-recette {
            background-color: vars.$primaryButton;
            color: vars.$backGround;
            width: 70%;
            &-titles {
                text-align: center;
                color: vars.$backGround;
                margin: 0.5em auto;
                margin-top: 0;
                padding-top: 0.2em;
                padding-bottom: 0.5em;
                width: 50%;
                border-bottom: none; 
                border-top: 1px solid vars.$backGround;
            }
            &-step {
                text-align: start;
                width: 90%;
                font-size: 1.1em;
                margin: 1em 1em;
            }

        }

        & .overlay {
            display: none;
        }

    }
}