@use '../../styles/vars';

.Footer{
    background-color: vars.$backGround;
    color: vars.$text;
    z-index: 10;
    bottom: 0;
    width: 100%;
    border-top: 1px solid vars.$text;
    position: absolute;
    left: 0;
    right: 0;

    a{
        font-family: vars.$font;
        color: vars.$text;
    }
}