@use 'src/styles/vars';

.RecipesPage {
    display: grid;
    grid-template-rows: 1fr auto;

    & > .card {
        background-color: #ffffff;
        border: none;
        padding: 0.25rem;
        z-index: 0;
        margin-bottom: 1rem;
        width: 100%;
        box-shadow: 0px 0px 5px #dfd9d0;
    }
}


@media (max-width: vars.$layout-breakpoint-small) {
    .RecipesPage > .card {
        background-color: transparent; 
        border: none;
        padding: 0;
        box-shadow: none;
        text-align: center;
    }}