@use 'src/styles/vars';

.Homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;

    & .alert {
        position: sticky;
        z-index: 100;
        top: 1rem;
        left: 0;
        right: 0;
        width: 100%;
    }

    & > .card {
        background-color: #ffffff;
        border: none;
        padding: 0.25rem;
        z-index: 0;
        margin-bottom: 1rem;
        width: 100%;
        box-shadow: 0px 0px 5px #dfd9d0;
    }

    & button>a {
        color: vars.$primaryButton;
        text-decoration: none;
    }
    & button:hover a {
        color: #ffffff;
    }
}

@media (max-width: vars.$layout-breakpoint-small) {
    .Homepage {
        & > .card {
            background-color: transparent; 
            border: none;
            padding: 0;
            box-shadow: none;
            text-align: center;
        }

        & .hstack {
            flex-direction: column;
        }
    }
}